<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
	   <!--  <template id="ct_theme_config" name="option_theme_default" inherit_id="web.assets_backend">
	        <xpath expr="." position="inside">
	        	<script type="text/javascript" src="/ct_dxb_home/static/src/theme/theme_switch.js"></script>
	        </xpath>
    	</template>

		 <record id="res_partner_theme_view" model="ir.ui.view">
            <field name="name">res_partner_theme_view</field>
            <field name="model">res.users</field>
            <field name="inherit_id" ref="base.view_users_form_simple_modif"/>
            <field name="arch" type="xml">
                <field name="lang" position='after'>
                    <field name="theme_type"   readonly="0"/>
                </field>
                        <xpath expr="//button[@name='preference_save']" position="attributes">
                            <attribute name="context">
                                {'ct_dxb_home': True}
                            </attribute>
                        </xpath>
            </field>
        </record>

		 <record id="res_partner_theme1_view" model="ir.ui.view">
            <field name="name">res_partner_theme1_view</field>
            <field name="model">res.users</field>
            <field name="inherit_id" ref="base.view_users_form"/>
            <field name="arch" type="xml">

                        <field name="lang" position='after'>
                            <field name="theme_type"  readonly="0"/>
                        </field>


            </field>
        </record>
 -->
    </data>
</odoo>