<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

      <template id="latest_blogs" name="Blogs share">
          <a class="jiathis_button_qzone"></a>
          <a class="jiathis_button_tsina"></a>
          <a class="jiathis_button_tqq"></a>
          <a class="jiathis_button_weixin"></a>
          <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
      </template>
        
        <template id="ct_website_blog_share" name="Cotong Website Blog Share" inherit_id="website_blog.blog_post_short">
            <xpath expr="//div[@class='o_sharing_links']" position="replace">
              <div class="o_sharing_links" style="overflow:hidden">
                <div class="jiathis_style_24x24">
                  <t t-call="ct_website_blog.latest_blogs"/>
                </div>
              </div>
            </xpath>
            <xpath expr="//div[@id='main_column']" position="after">
              <script>
                var jiathis_config = {};

                $("#main_column [name='blog_post']").each(function(){
                  var data = {
                    url:window.location.origin+$(this).find(".o_blog_post_title").parent("a").attr("href"),
                    title:$(this).find(".o_blog_post_title").text(),
                    summary:$(this).find(".o_blog_post_teaser").text(),
                    data_track_clickback:true,
                    shortUrl:true
                  }
                  $(this).find("[class^='jiathis']").on("click mouseover",function(){
                    jiathis_config = data;
                  })

                })

              </script>
              <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=" charset="utf-8"></script>
            </xpath>
        </template>
 
        <template id="ct_opt_blog_rc_follow_us" inherit_id="website_blog.opt_blog_rc_follow_us" priority="5">
          <xpath expr="//h2[@class='mt4']" position="replace">
            <h2 class="mt4">
        <div class="jiathis_style_24x24">
          <t t-call="ct_website_blog.latest_blogs"/>
        </div>
        <script>
        var jiathis_config = {};
        $("#blog_right_column [class^='jiathis']").on("click mouseover",function(){
          jiathis_config = {
            title:$("h1").text(),
            summary:$("h3").text(),
            data_track_clickback:true,
            shortUrl:true
          };
        })
      </script>
        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=" charset="utf-8"></script>
            </h2>
          </xpath>
        </template>

        <template id="ct_blog_post_complete" inherit_id="website_blog.blog_post_complete">
          <xpath expr="//div[@class='o_blog_post_complete o_sharing_links']" position="replace">
        <style scoped="scoped">
          .o_blog_post_complete .jiathis_style_32x32 a{
            display:inline-block !important;
            width:32px;
            float:none;
          }
        </style>
            <div class="o_blog_post_complete o_sharing_links">
        <!-- JiaThis Button BEGIN -->
        <div class="jiathis_style_32x32" style="overflow:hidden">
          <t t-call="ct_website_blog.latest_blogs"/>
        </div>
        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=" charset="utf-8"></script>
        <!-- JiaThis Button END -->
            </div>
          </xpath>
        </template>
        
    </data>
</odoo>