@charset "utf8";
body,html{
	height:100%;
	width: 100%;
	font-family: "宋体";
}
body{
	background:url(../images/bg.gif) no-repeat center center;
}
.home{
	height:100%;
	width: 100%;
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;

	-webkit-box-align:center;
	-moz-box-align:center;
	-ms-box-align:center;
	-o-box-align:center;
	box-align:center;

	-webkit-box-pack:center;
	-moz-box-pack:center;
	-ms-box-pack:center;
	-o-box-pack:center;
	box-pack:center;

	display: none;
}
.home .login{
	width:280px;
	max-width: 100%;
	margin:0 auto;
	text-align: center;
	font:normal normal 14px "宋体";
}
.home .login .loginFrom form{
	display: block;
	margin-top:60px;
}
.home .login .loginFrom .input-group{
	background-color: #eee;
	padding:20px;
	margin:-20px;
}
.home .login .loginFrom h2 img{
	max-width: 100%;
}
.home .login .loginFrom .inputGroup{
	position: relative;
	width: 280px;
	max-width: 100%;
	margin:0 auto;
	min-height:40px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.home .login .loginFrom .inputGroup:not(:first-of-type){
	margin-top:20px;
}

.home .login .loginFrom .inputGroup label{
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}
.home .login .loginFrom .inputGroup label input{
	width: 100%;
	line-height:40px;
	font-weight: normal;
	outline-style: none;
	border:none;
	padding: 0;
	border-color:#008dd6;
	text-indent: 2em;
	color: #333;
	border:1px solid #e5e5e5;
}
.home .login .loginFrom .inputGroup label input:focus{
	background-color: #FFF;
	border-color:#008dd6;
}

.home .login .loginFrom .inputGroup label input:default{
	background-color: red;
}
.home .login .loginFrom .inputGroup label input::-webkit-input-placeholder{
	text-align:center;
	color: #999;
	text-indent: 0;
}
.home .login .loginFrom .inputGroup label input.error::-webkit-input-placeholder{
	color: #fe9090;
}
.home .login .loginFrom .btnGrouop button[type="submit"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	outline-style: none;
	border:1px solid #f58b28;
	color: #fffefe;
	outline-style: none;
	padding: 0;
	margin: 0 auto;
	width: 280px;
	max-width: 100%;
	min-height:40px;
	background-color: #f58b28;
	margin-top:40px;
}
.home .login .loginFrom .btnGrouop button[type="submit"]:disabled{
	background-color:#bbb;
	border-color: #bbb;
}
.home .login .loginFrom .btnGrouop button[type="submit"].btnscuuess{
	background-color: #e60012;
	border-color: #e60012;
}

@media all and (max-width:320px){
	.home .login{
		width: 230px;
	}
	.home .login .loginFrom .inputGroup{
		width: 230px;
	}
}