<?xml version="1.0" encoding="UTF-8"?>
<templates>

    <!--<t t-extend="AppSwitcher.Content">-->
      <!--<t t-jquery=".o_application_switcher_footer" t-operation="replace">-->
          <!--<div class="o_app_switcher_footer">-->
              <!--<img src="/web/binary/company_logo"></img>-->
          <!--</div>-->
      <!--</t>-->
    <!--</t>-->
    <t t-extend="UserMenu">
        <t t-jquery="li.divider" t-operation="before">
            <li class="hidden-xs"><a href="#" data-menu="shortcuts">Shortcuts</a></li>
        </t>
    </t>
    <t t-extend="UserMenu">
        <t t-jquery="a[data-menu='documentation']" t-operation="replace"></t>
        <t t-jquery="a[data-menu='support']" t-operation="replace"></t>
        <t t-jquery="a[data-menu='account']" t-operation="replace"></t>
        <t t-jquery="li.divider" t-operation="replace"></t>
    </t>
    <!-- 去除设置菜单中仪表盘中的应用，分享2个看板 -->
    <t t-extend="DashboardMain">
    	<t t-jquery="div.o_web_settings_dashboard" t-operation="replace">
    		<div class="container-fluid o_web_settings_dashboard">
	            <div class="row">
	                <div class="o_web_settings_dashboard_enterprise"/>
	                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 o_web_settings_dashboard_col"> 
	                    <div class="text-center o_web_settings_dashboard_invitations"></div>
	                </div>
	                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 o_web_settings_dashboard_col">
	                    <div class="text-center o_web_settings_dashboard_planner"></div>
	                </div>
	            </div>
        	</div>
    	</t>
    </t>
    <!-- 去掉实施看板中的下面‘游览文档’部分 -->
    <t t-extend="DashboardPlanner">
    	<t t-jquery="div.o_web_settings_dashboard_planner" t-operation="replace">
    		<div class="text-center o_web_settings_dashboard_planner">
            <i class="fa fa-check-square-o fa-4x text-muted"></i>
            <div class="o_web_settings_dashboard_header">
                <span class="o_web_settings_dashboard_planner_overall_progress"><t t-esc="widget.overall_progress"></t></span>%
                Implementation
            </div>
            <div>
                <small class="text-muted text-center o_web_settings_dashboard_compact_subtitle">
                    Follow these implementation guides to get the most out of Odoo.
                </small>
            </div>
            <hr/>
            <t t-set="planners" t-value="widget.planners"/>
            <t t-call="DashboardPlanner.PlannersList"/>
        </div>
    	</t>
    </t>
</templates>
