/*登录样式*/
body{
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
}
.o_database_list{
	margin:auto !important;
}
@media screen and (orientation:landscape) and (min-width: 959px){
    .o_database_list{
    	box-shadow: 0px 0px 50px 10px hsla(200, 100%, 42%, 0.15);
		padding: 15px 90px 20px 90px !important;
		border-radius: 5px;
		margin-left:30% !important;
	}
}

.oe_login_form > .form-group > .form-control{
    box-shadow:none !important;
    border: 1px solid #ddd;
}
.oe_login_form > .form-group > .input-group > .form-control[readonly]{
    border: 1px solid #ddd;
    background-color: #FFF !important;
}
.oe_login_buttons{
	text-align: center;
}
.oe_login_buttons > .btn.btn-primary{
	background-color: #008dd6;
    border-color: #008dd6;
    padding: 6px 40px;
}
