<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
          <record id="inherit_view_thmem_configuration1" model="ir.ui.view">
            <field name="name">General Settings1</field>
            <field name="model">base.config.settings</field>
            <field name="inherit_id" ref="base_setup.view_general_configuration"/>
            <field name="arch" type="xml">
               <xpath expr='//group[@name="company_share_resources"]' position='before'>
                     <group id="theme">
                        <label for="id" string="主题模块"/>
                        <div name="theme">
                            <field name="theme" class="oe_inline"/>
                        </div>
                    </group>
                </xpath>
            </field>
        </record>

        <record id="theme_config_settings_demo" model="base.config.settings">
             <field name="theme">ct_theme_switch.theme_default</field>
        </record>


    </data>
</odoo>