<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <template id="cotong_cnzz_statistics" inherit_id="website.layout_footer_copyright" name="Cnzz Statistics">
            <xpath expr="//footer/div[contains(@class, 'container mt16 mb8')]/div[contains(@class, 'pull-left')]" position="inside">
              <p>
               <a href="http://tongji.baidu.com/hm-web/welcome/ico?s=23dbef7c24e08a2da8c039307ae9edce" style="color:#666;font-size:13px;" target="_blank">网站统计</a>
                 <script src="/ct_website_statistics/static/src/js/cnzz.js"></script>
              </p>
              
            </xpath>
        </template>
        
    </data>
</odoo>